.Range {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5),
    inset -1px -1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 30px;

  &__input {
    height: 16px;
    border-radius: 16px;
    -webkit-appearance: none;
    background: linear-gradient(to left, #ab47bc 0%, #ffca28 100%);
    display: block;
    width: calc(100% - 14px);
  }

  &__number-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4em;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: white;
    background-color: #ab47bc;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  &__active {
    background-color: #06d7a0;
  }

  &__input::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-appearance: none;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
  }

  &__input::-moz-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-appearance: none;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
  }
}
