.Confirm {
  width: 75%;
  margin-left: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Confirm__button {
  color: white;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
}

.Confirm__delete {
  background-color: #d75851;
}

.Confirm__cancel {
  background-color: black;
}
