.App {
  height: 100%;
  padding-top: 2vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.App__row {
  width: 100%;
}

.App__toggle-row {
  display: flex;
}

.App__range-row {
  margin-top: 4vw;
  margin-bottom: 6vw;
}

.App__toggle-text {
  display: inline-block;
  margin-left: 1em;
  color: #767577;
}

#root {
  height: 100%;
}
